Node-Red-Dashboard.txt
[{"id":"a5f0a36c.8d814","type":"tab","label":"DASHBOARD","disabled":false,"info":""},{"id":"bbe75520.fd7c28","type":"ui_button","z":"a5f0a36c.8d814","name":"","group":"8ca97250.992c88","order":0,"width":0,"height":0,"passthru":false,"label":"COOLER","color":"","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7402:2:202]:5683/actuators/thermostat?mode=c","payloadType":"str","topic":"","x":340,"y":80,"wires":[["4bd809fb.11953"]]},{"id":"5e401300.36c79c","type":"ui_button","z":"a5f0a36c.8d814","name":"","group":"8ca97250.992c88","order":0,"width":0,"height":0,"passthru":false,"label":"HEATER","color":"","bgcolor":"red","icon":"","payload":"coap://[aaaa::212:7402:2:202]:5683/actuators/thermostat?mode=h","payloadType":"str","topic":"","x":340,"y":160,"wires":[["4bd809fb.11953"]]},{"id":"c575768a.69f77","type":"ui_button","z":"a5f0a36c.8d814","name":"","group":"8ca97250.992c88","order":0,"width":0,"height":0,"passthru":false,"label":"VENTILATION","color":"","bgcolor":"green","icon":"","payload":"coap://[aaaa::212:7402:2:202]:5683/actuators/thermostat?mode=v","payloadType":"str","topic":"","x":320,"y":240,"wires":[["4bd809fb.11953"]]},{"id":"d246011c.29bc2","type":"ui_toast","z":"a5f0a36c.8d814","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1090,"y":160,"wires":[]},{"id":"42ba7f5d.29076","type":"coap request","z":"a5f0a36c.8d814","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"","x":830,"y":160,"wires":[["d246011c.29bc2","8b9cc80c.25f2c8"]]},{"id":"4bd809fb.11953","type":"change","z":"a5f0a36c.8d814","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[["42ba7f5d.29076"]]},{"id":"8b9cc80c.25f2c8","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":260,"wires":[]},{"id":"acaba9d4.19bf68","type":"coap request","z":"a5f0a36c.8d814","method":"GET","observe":true,"url":"coap://[aaaa::212:7402:2:202]:5683/temperature","content-format":"text/plain","raw-buffer":false,"name":"","x":570,"y":560,"wires":[["6a2bfd6d.a58074","2bd2c51c.e43b0a","de02760f.135e2","7f61215d.ae2f5"]]},{"id":"deb4ceaa.fff908","type":"inject","z":"a5f0a36c.8d814","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":560,"wires":[["acaba9d4.19bf68"]]},{"id":"6a2bfd6d.a58074","type":"debug","z":"a5f0a36c.8d814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":740,"wires":[]},{"id":"2bd2c51c.e43b0a","type":"ui_text","z":"a5f0a36c.8d814","group":"8ca97250.992c88","order":0,"width":0,"height":0,"name":"","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":660,"wires":[]},{"id":"7618aaa3.6d97fc","type":"coap request","z":"a5f0a36c.8d814","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/actuators/status","content-format":"application/json","raw-buffer":false,"name":"","x":570,"y":940,"wires":[["85f0c86f.fdeae8","f5e781c0.f55ff","c2a5ea8b.698828","daa30f0f.a2978","c08e31c6.68643","ac313b10.54c91"]]},{"id":"221a918a.b788f6","type":"inject","z":"a5f0a36c.8d814","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":940,"wires":[["7618aaa3.6d97fc"]]},{"id":"85f0c86f.fdeae8","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.COOLER","x":930,"y":1140,"wires":[]},{"id":"f5e781c0.f55ff","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.HEATER","x":920,"y":1200,"wires":[]},{"id":"c2a5ea8b.698828","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.VENTILATION","x":920,"y":1280,"wires":[]},{"id":"daa30f0f.a2978","type":"ui_text","z":"a5f0a36c.8d814","group":"8ca97250.992c88","order":0,"width":0,"height":0,"name":"","label":"COOLER","format":"{{msg.payload.COOLER}}","layout":"row-spread","x":980,"y":880,"wires":[]},{"id":"c08e31c6.68643","type":"ui_text","z":"a5f0a36c.8d814","group":"8ca97250.992c88","order":0,"width":0,"height":0,"name":"","label":"HEATER","format":"{{msg.payload.HEATER}}","layout":"row-spread","x":980,"y":940,"wires":[]},{"id":"ac313b10.54c91","type":"ui_text","z":"a5f0a36c.8d814","group":"8ca97250.992c88","order":0,"width":0,"height":0,"name":"","label":"VENTILATION","format":"{{msg.payload.VENTILATION}}","layout":"row-spread","x":1000,"y":1000,"wires":[]},{"id":"de02760f.135e2","type":"function","z":"a5f0a36c.8d814","name":"tempControl","func":"var temp;\nconst MAX_TEMP=30;\nconst MIN_TEMP=10;\nvar send = flow.get('send');\n\nif (flow.get('send') === undefined) {\n  flow.set('send',1);\n}\n\ntemp = msg.payload;\nconsole.log(send);\nif ((temp > MAX_TEMP) && (send)) {\n    send = 0;\n    flow.set('send', send);\n    msg.payload = \"Alert! It's very HOT in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else if (temp < MIN_TEMP && send){\n    send = 0;\n    flow.set('send', send);\n    msg.payload = \"Alert!  It's very COLD in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else if (temp > MIN_TEMP && temp < MAX_TEMP) {\n    send = 1;\n    flow.set('send', send);\n}\n","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["e432f7d2.51499","e7f5a296.179fb"]]},{"id":"e432f7d2.51499","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":440,"wires":[]},{"id":"f59a59f1.620018","type":"inject","z":"a5f0a36c.8d814","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":460,"wires":[["e5ee045c.177568"]]},{"id":"e5ee045c.177568","type":"function","z":"a5f0a36c.8d814","name":"initSend","func":"var send;\n\nflow.set('send', 1);","outputs":1,"noerr":0,"x":530,"y":460,"wires":[[]]},{"id":"48e8de49.12bda8","type":"function","z":"a5f0a36c.8d814","name":"ComputeAverage","func":"var arr = msg.payload;\nvar num_arr = [];\nfor(i=0;i<12;i++){\n    num_arr[i] = Number(arr[i]);  \n}\n\nvar avg\nvar sum = 0\n\nfor(i=0; i<12;i++){\n    sum += num_arr[i]\n}\n\navg = sum/12;\n\n\nmsg.payload =avg;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":580,"wires":[["ea340eb2.2075d8","5838297c.e369e"]]},{"id":"ea340eb2.2075d8","type":"debug","z":"a5f0a36c.8d814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":560,"wires":[]},{"id":"7f61215d.ae2f5","type":"join","z":"a5f0a36c.8d814","name":"storeTemp","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":560,"wires":[["48e8de49.12bda8","42512d38.fff6fc"]]},{"id":"42512d38.fff6fc","type":"debug","z":"a5f0a36c.8d814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":520,"wires":[]},{"id":"5838297c.e369e","type":"mqtt out","z":"a5f0a36c.8d814","name":"ThingspeakMQTT Pub","topic":"channels/783362/publish/fields/field1/DHWHM4YJP2N7CHLO","qos":"","retain":"","broker":"7f9ef844.8c2e8","x":1390,"y":680,"wires":[]},{"id":"45dfa01.2ca986","type":"mqtt in","z":"a5f0a36c.8d814","name":"ThingspeakMQTT Sub","topic":"channels/783362/subscribe/fields/field1/DHWHM4YJP2N7CHLO","qos":"0","broker":"7f9ef844.8c2e8","x":320,"y":1460,"wires":[["256f2a4e.9b5cde"]]},{"id":"256f2a4e.9b5cde","type":"ui_chart","z":"a5f0a36c.8d814","name":"Avg per Min Temperature","group":"8ca97250.992c88","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":1460,"wires":[[],[]]},{"id":"e7f5a296.179fb","type":"e-mail","z":"a5f0a36c.8d814","server":"smtp.office365.com","port":"587 ","secure":false,"name":"mattia.bacarella@mail.polimi.it","dname":"","x":1100,"y":380,"wires":[]},{"id":"8ca97250.992c88","type":"ui_group","z":"","name":"SMART THERMOSTAT","tab":"f3bd9b48.3f5498","disp":true,"width":"6","collapse":false},{"id":"7f9ef844.8c2e8","type":"mqtt-broker","z":"","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"mattiabaca","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f3bd9b48.3f5498","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
