Node-Red-Dashboard.txt
[{"id":"a5f0a36c.8d814","type":"tab","label":"Room 1","disabled":false,"info":""},{"id":"94ebb269.7e8068","type":"tab","label":"Room 2","disabled":false,"info":""},{"id":"96414983.dd9608","type":"tab","label":"Room 3","disabled":false,"info":""},{"id":"49b5365b.80aea","type":"tab","label":"Room 4","disabled":false,"info":""},{"id":"22e968dc.af1008","type":"tab","label":"Control Center","disabled":false,"info":""},{"id":"8a9a8a88.ca1ed","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"90d30ba7.830658","type":"ui_group","z":"","name":"IoT","tab":"","disp":true,"width":"6","collapse":false},{"id":"f3bd9b48.3f5498","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7f9ef844.8c2e8","type":"mqtt-broker","z":"","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"mattiabaca","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f6c7850.7e93f","type":"ui_group","z":"","name":"Chart","tab":"f3bd9b48.3f5498","disp":true,"width":"6","collapse":false},{"id":"78f255d2.bd99bc","type":"ui_group","z":"","name":"ROOM 1","tab":"f3bd9b48.3f5498","disp":true,"width":"6","collapse":false},{"id":"5a8ef5cb.2a7054","type":"ui_group","z":"","name":"ROOM 2","tab":"f3bd9b48.3f5498","disp":true,"width":"6","collapse":false},{"id":"a9249f17.847e78","type":"ui_group","z":"","name":"ROOM 3","tab":"f3bd9b48.3f5498","disp":true,"width":"6","collapse":false},{"id":"e1d6550a.2cd3c8","type":"ui_group","z":"","name":"ROOM 4","tab":"f3bd9b48.3f5498","disp":true,"width":"6","collapse":false},{"id":"fb3fa3ac.f8cc3","type":"ui_group","z":"","name":"HOME","tab":"f3bd9b48.3f5498","disp":true,"width":"24","collapse":false},{"id":"bbe75520.fd7c28","type":"ui_button","z":"a5f0a36c.8d814","name":"","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"passthru":false,"label":"COOLER","color":"","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7402:2:202]:5683/actuators/thermostat?mode=c","payloadType":"str","topic":"","x":340,"y":80,"wires":[["4bd809fb.11953"]]},{"id":"5e401300.36c79c","type":"ui_button","z":"a5f0a36c.8d814","name":"","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"passthru":false,"label":"HEATER","color":"","bgcolor":"red","icon":"","payload":"coap://[aaaa::212:7402:2:202]:5683/actuators/thermostat?mode=h","payloadType":"str","topic":"","x":340,"y":160,"wires":[["4bd809fb.11953"]]},{"id":"c575768a.69f77","type":"ui_button","z":"a5f0a36c.8d814","name":"","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"passthru":false,"label":"VENTILATION","color":"","bgcolor":"green","icon":"","payload":"coap://[aaaa::212:7402:2:202]:5683/actuators/thermostat?mode=v","payloadType":"str","topic":"","x":320,"y":240,"wires":[["4bd809fb.11953"]]},{"id":"d246011c.29bc2","type":"ui_toast","z":"a5f0a36c.8d814","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1090,"y":160,"wires":[]},{"id":"42ba7f5d.29076","type":"coap request","z":"a5f0a36c.8d814","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"","x":830,"y":160,"wires":[["d246011c.29bc2","8b9cc80c.25f2c8"]]},{"id":"4bd809fb.11953","type":"change","z":"a5f0a36c.8d814","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[["42ba7f5d.29076"]]},{"id":"8b9cc80c.25f2c8","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":260,"wires":[]},{"id":"7618aaa3.6d97fc","type":"coap request","z":"a5f0a36c.8d814","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/actuators/status","content-format":"application/json","raw-buffer":false,"name":"","x":610,"y":500,"wires":[["85f0c86f.fdeae8","f5e781c0.f55ff","c2a5ea8b.698828","daa30f0f.a2978","c08e31c6.68643","ac313b10.54c91"]]},{"id":"221a918a.b788f6","type":"inject","z":"a5f0a36c.8d814","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":500,"wires":[["7618aaa3.6d97fc"]]},{"id":"85f0c86f.fdeae8","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.COOLER","x":970,"y":700,"wires":[]},{"id":"f5e781c0.f55ff","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.HEATER","x":960,"y":760,"wires":[]},{"id":"c2a5ea8b.698828","type":"debug","z":"a5f0a36c.8d814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.VENTILATION","x":960,"y":840,"wires":[]},{"id":"daa30f0f.a2978","type":"ui_text","z":"a5f0a36c.8d814","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"name":"","label":"COOLER","format":"{{msg.payload.COOLER}}","layout":"row-spread","x":1020,"y":440,"wires":[]},{"id":"c08e31c6.68643","type":"ui_text","z":"a5f0a36c.8d814","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"name":"","label":"HEATER","format":"{{msg.payload.HEATER}}","layout":"row-spread","x":1020,"y":500,"wires":[]},{"id":"ac313b10.54c91","type":"ui_text","z":"a5f0a36c.8d814","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"name":"","label":"VENTILATION","format":"{{msg.payload.VENTILATION}}","layout":"row-spread","x":1040,"y":560,"wires":[]},{"id":"45dfa01.2ca986","type":"mqtt in","z":"a5f0a36c.8d814","name":"ThingspeakMQTT Sub","topic":"channels/783362/subscribe/fields/field1/DHWHM4YJP2N7CHLO","qos":"0","broker":"7f9ef844.8c2e8","x":360,"y":1060,"wires":[["256f2a4e.9b5cde"]]},{"id":"256f2a4e.9b5cde","type":"ui_chart","z":"a5f0a36c.8d814","name":"Avg per Min Temperature","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"label":"Room 1 AvgTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":760,"y":1060,"wires":[[],[]]},{"id":"4b2754ba.d12d3c","type":"ui_button","z":"94ebb269.7e8068","name":"","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"passthru":false,"label":"COOLER","color":"","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7403:3:303]:5683/actuators/thermostat?mode=c","payloadType":"str","topic":"","x":180,"y":100,"wires":[["4bf4b7d6.aaf72"]]},{"id":"38ffd192.2c94f6","type":"ui_button","z":"94ebb269.7e8068","name":"","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"passthru":false,"label":"HEATER","color":"","bgcolor":"red","icon":"","payload":"coap://[aaaa::212:7403:3:303]:5683/actuators/thermostat?mode=h","payloadType":"str","topic":"","x":180,"y":180,"wires":[["4bf4b7d6.aaf72"]]},{"id":"dcff6aa4.698938","type":"ui_button","z":"94ebb269.7e8068","name":"","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"passthru":false,"label":"VENTILATION","color":"","bgcolor":"green","icon":"","payload":"coap://[aaaa::212:7403:3:303]:5683/actuators/thermostat?mode=v","payloadType":"str","topic":"","x":160,"y":260,"wires":[["4bf4b7d6.aaf72"]]},{"id":"aa816da5.e5a7e","type":"ui_toast","z":"94ebb269.7e8068","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":930,"y":180,"wires":[]},{"id":"8ae99baa.2fa15","type":"coap request","z":"94ebb269.7e8068","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"","x":670,"y":180,"wires":[["aa816da5.e5a7e","6af033d9.df9914"]]},{"id":"4bf4b7d6.aaf72","type":"change","z":"94ebb269.7e8068","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["8ae99baa.2fa15"]]},{"id":"6af033d9.df9914","type":"debug","z":"94ebb269.7e8068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":280,"wires":[]},{"id":"a300b01a.f4dbf","type":"coap request","z":"94ebb269.7e8068","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/actuators/status","content-format":"application/json","raw-buffer":false,"name":"","x":450,"y":480,"wires":[["ef8472ee.313ff8","7eb16794.c9d69","39e7b470.7257fc","fb7e5879.cc21a","4fc107b4.4f8328","94f0c47e.5f99f"]]},{"id":"70eff307.3a808c","type":"inject","z":"94ebb269.7e8068","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":480,"wires":[["a300b01a.f4dbf"]]},{"id":"ef8472ee.313ff8","type":"debug","z":"94ebb269.7e8068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.COOLER","x":810,"y":740,"wires":[]},{"id":"7eb16794.c9d69","type":"debug","z":"94ebb269.7e8068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.HEATER","x":800,"y":800,"wires":[]},{"id":"39e7b470.7257fc","type":"debug","z":"94ebb269.7e8068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.VENTILATION","x":800,"y":880,"wires":[]},{"id":"fb7e5879.cc21a","type":"ui_text","z":"94ebb269.7e8068","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"name":"","label":"COOLER","format":"{{msg.payload.COOLER}}","layout":"row-spread","x":860,"y":480,"wires":[]},{"id":"4fc107b4.4f8328","type":"ui_text","z":"94ebb269.7e8068","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"name":"","label":"HEATER","format":"{{msg.payload.HEATER}}","layout":"row-spread","x":860,"y":540,"wires":[]},{"id":"94f0c47e.5f99f","type":"ui_text","z":"94ebb269.7e8068","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"name":"","label":"VENTILATION","format":"{{msg.payload.VENTILATION}}","layout":"row-spread","x":880,"y":600,"wires":[]},{"id":"b75586f7.158c5","type":"mqtt in","z":"94ebb269.7e8068","name":"ThingspeakMQTT Sub","topic":"channels/783362/subscribe/fields/field2/DHWHM4YJP2N7CHLO","qos":"0","broker":"7f9ef844.8c2e8","x":180,"y":1060,"wires":[["b97b7522.3a877"]]},{"id":"b97b7522.3a877","type":"ui_chart","z":"94ebb269.7e8068","name":"Avg per Min Temperature","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"label":"Room 2 AvgTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":1060,"wires":[[],[]]},{"id":"ec08ef02.930e6","type":"coap request","z":"22e968dc.af1008","method":"GET","observe":true,"url":"coap://[aaaa::212:7403:3:303]:5683/temperature","content-format":"text/plain","raw-buffer":false,"name":"","x":390,"y":720,"wires":[["2048beb9.5c6fe2","ee93183f.fc3f9","ab3116d4.cbddd","7d168b7c.554184"]]},{"id":"d1822c0c.6ec11","type":"inject","z":"22e968dc.af1008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":720,"wires":[["ec08ef02.930e6"]]},{"id":"2048beb9.5c6fe2","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":900,"wires":[]},{"id":"ee93183f.fc3f9","type":"ui_text","z":"22e968dc.af1008","group":"5a8ef5cb.2a7054","order":0,"width":0,"height":0,"name":"","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":820,"wires":[]},{"id":"4b06ed67.c79484","type":"function","z":"22e968dc.af1008","name":"ComputeAverage","func":"var arr = msg.payload;\nvar num_arr = [];\nfor(i=0;i<arr.length;i++){\n    num_arr[i] = Number(arr[i]);  \n}\n\nvar avg;\nvar sum = 0;\n\nfor(i=0; i<arr.length;i++){\n    sum += num_arr[i];\n}\n\navg = sum/arr.length;\n\n\nmsg.payload = avg;\nmsg.topic = \"field2\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":740,"wires":[["dfb1ba7.52a4fc8","b000f0f.cc11b1"]]},{"id":"dfb1ba7.52a4fc8","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":800,"wires":[]},{"id":"ab3116d4.cbddd","type":"join","z":"22e968dc.af1008","name":"storeTemp","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":720,"wires":[["4b06ed67.c79484","6925b727.5229e8"]]},{"id":"6925b727.5229e8","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":680,"wires":[]},{"id":"b2f6712e.2beb58","type":"coap request","z":"22e968dc.af1008","method":"GET","observe":true,"url":"coap://[aaaa::212:7402:2:202]:5683/temperature","content-format":"text/plain","raw-buffer":false,"name":"","x":390,"y":200,"wires":[["85e03570.bae77","33d8217.f2cc25e","9cab80df.e684b8","174d60fc.7e1ed7"]]},{"id":"4a096359.dc3bd4","type":"inject","z":"22e968dc.af1008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":200,"wires":[["b2f6712e.2beb58"]]},{"id":"85e03570.bae77","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":380,"wires":[]},{"id":"33d8217.f2cc25e","type":"ui_text","z":"22e968dc.af1008","group":"78f255d2.bd99bc","order":0,"width":0,"height":0,"name":"","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":300,"wires":[]},{"id":"28878ded.401a2a","type":"function","z":"22e968dc.af1008","name":"ComputeAverage","func":"var arr = msg.payload;\nvar num_arr = [];\nfor(i=0;i<arr.length;i++){\n    num_arr[i] = Number(arr[i]);  \n}\n\nvar avg;\nvar sum = 0;\n\nfor(i=0; i<arr.length;i++){\n    sum += num_arr[i];\n}\n\navg = sum/arr.length;\n\n\nmsg.payload  = avg;\nmsg.topic = \"field1\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["f6ed2a9a.fddf28","b000f0f.cc11b1"]]},{"id":"f6ed2a9a.fddf28","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":200,"wires":[]},{"id":"9cab80df.e684b8","type":"join","z":"22e968dc.af1008","name":"storeTemp","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":200,"wires":[["28878ded.401a2a","d167d75b.218a98"]]},{"id":"d167d75b.218a98","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":160,"wires":[]},{"id":"e42df10f.872e08","type":"mqtt out","z":"22e968dc.af1008","name":"ThingspeakMQTT Pub","topic":"channels/783362/publish/DHWHM4YJP2N7CHLO","qos":"","retain":"","broker":"7f9ef844.8c2e8","x":2150,"y":960,"wires":[]},{"id":"b000f0f.cc11b1","type":"join","z":"22e968dc.af1008","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570,"y":940,"wires":[["7d2d9137.62b15","fe2f9728.410e4","455b9b8c.4a853c"]]},{"id":"7d2d9137.62b15","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":1040,"wires":[]},{"id":"fe2f9728.410e4","type":"function","z":"22e968dc.af1008","name":"Create MQTT payload","func":"msg.payload = \"field1=\"+msg.payload.field1+\"&field2=\"+msg.payload.field2+\"&field3=\"+msg.payload.field3+\"&field4=\"+msg.payload.field4\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":960,"wires":[["e42df10f.872e08","a30032e1.cda0a"]]},{"id":"a30032e1.cda0a","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2090,"y":1040,"wires":[]},{"id":"34c0d6ed.3c8b1a","type":"coap request","z":"22e968dc.af1008","method":"GET","observe":true,"url":"coap://[aaaa::212:7404:4:404]:5683/temperature","content-format":"text/plain","raw-buffer":false,"name":"","x":370,"y":1300,"wires":[["98fc0b92.edb018","75eb6c12.c761ec","645673f3.9510bc","2ba50ef7.07804a"]]},{"id":"2beb6dd.6538a92","type":"inject","z":"22e968dc.af1008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1300,"wires":[["34c0d6ed.3c8b1a"]]},{"id":"98fc0b92.edb018","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":1480,"wires":[]},{"id":"75eb6c12.c761ec","type":"ui_text","z":"22e968dc.af1008","group":"a9249f17.847e78","order":0,"width":0,"height":0,"name":"","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1400,"wires":[]},{"id":"1f0f4514.342953","type":"function","z":"22e968dc.af1008","name":"ComputeAverage","func":"var arr = msg.payload;\nvar num_arr = [];\nfor(i=0;i<arr.length;i++){\n    num_arr[i] = Number(arr[i]);  \n}\n\nvar avg;\nvar sum = 0;\n\nfor(i=0; i<arr.length;i++){\n    sum += num_arr[i];\n}\n\navg = sum/arr.length;\n\n\nmsg.payload = avg;\nmsg.topic = \"field3\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1320,"wires":[["54550652.7a455","b000f0f.cc11b1"]]},{"id":"54550652.7a455","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":1380,"wires":[]},{"id":"645673f3.9510bc","type":"join","z":"22e968dc.af1008","name":"storeTemp","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1300,"wires":[["1f0f4514.342953","d9771312.e80658"]]},{"id":"d9771312.e80658","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":1260,"wires":[]},{"id":"819a916b.f21cd8","type":"coap request","z":"22e968dc.af1008","method":"GET","observe":true,"url":"coap://[aaaa::212:7405:5:505]:5683/temperature","content-format":"text/plain","raw-buffer":false,"name":"","x":350,"y":1840,"wires":[["e4abb3a8.a7fd7","a00e8e76.320d38","780ec07b.a73358","d5479651.4657"]]},{"id":"e2213ad2.e43278","type":"inject","z":"22e968dc.af1008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1840,"wires":[["819a916b.f21cd8"]]},{"id":"e4abb3a8.a7fd7","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":2020,"wires":[]},{"id":"a00e8e76.320d38","type":"ui_text","z":"22e968dc.af1008","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"name":"","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1940,"wires":[]},{"id":"df9ae94f.53d9b8","type":"function","z":"22e968dc.af1008","name":"ComputeAverage","func":"var arr = msg.payload;\nvar num_arr = [];\nfor(i=0;i<arr.length;i++){\n    num_arr[i] = Number(arr[i]);  \n}\n\nvar avg;\nvar sum = 0;\n\nfor(i=0; i<arr.length;i++){\n    sum += num_arr[i];\n}\n\navg = sum/arr.length;\n\n\nmsg.payload = avg;\nmsg.topic = \"field4\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1860,"wires":[["47b4025e.7971bc","b000f0f.cc11b1"]]},{"id":"47b4025e.7971bc","type":"debug","z":"22e968dc.af1008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":1920,"wires":[]},{"id":"780ec07b.a73358","type":"join","z":"22e968dc.af1008","name":"storeTemp","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":1840,"wires":[["df9ae94f.53d9b8","1aef2dc7.698ee2"]]},{"id":"1aef2dc7.698ee2","type":"debug","z":"22e968dc.af1008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":1800,"wires":[]},{"id":"f5b8e1fa.b9b4c8","type":"ui_button","z":"96414983.dd9608","name":"","group":"a9249f17.847e78","order":0,"width":0,"height":0,"passthru":false,"label":"COOLER","color":"","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7404:4:404]:5683/actuators/thermostat?mode=c","payloadType":"str","topic":"","x":260,"y":120,"wires":[["f62df64c.bd64"]]},{"id":"6dd76b2b.cbd994","type":"ui_button","z":"96414983.dd9608","name":"","group":"a9249f17.847e78","order":0,"width":0,"height":0,"passthru":false,"label":"HEATER","color":"","bgcolor":"red","icon":"","payload":"coap://[aaaa::212:7404:4:404]:5683/actuators/thermostat?mode=h","payloadType":"str","topic":"","x":260,"y":200,"wires":[["f62df64c.bd64"]]},{"id":"d897fcb.0b49a","type":"ui_button","z":"96414983.dd9608","name":"","group":"a9249f17.847e78","order":0,"width":0,"height":0,"passthru":false,"label":"VENTILATION","color":"","bgcolor":"green","icon":"","payload":"coap://[aaaa::212:7404:4:404]:5683/actuators/thermostat?mode=v","payloadType":"str","topic":"","x":240,"y":280,"wires":[["f62df64c.bd64"]]},{"id":"eb1645da.dd2b28","type":"ui_toast","z":"96414983.dd9608","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1010,"y":200,"wires":[]},{"id":"8a06fad3.216598","type":"coap request","z":"96414983.dd9608","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"","x":750,"y":200,"wires":[["eb1645da.dd2b28","5a9d2a87.a0baec"]]},{"id":"f62df64c.bd64","type":"change","z":"96414983.dd9608","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[["8a06fad3.216598"]]},{"id":"5a9d2a87.a0baec","type":"debug","z":"96414983.dd9608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":300,"wires":[]},{"id":"e45ba94a.81a218","type":"coap request","z":"96414983.dd9608","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/actuators/status","content-format":"application/json","raw-buffer":false,"name":"","x":530,"y":500,"wires":[["52dcedbe.6d659c","5f7eabf4.14284c","28bf8ea2.556aa2","99178606.2d28d","3e317d7c.31e75a","20191177.da03d6"]]},{"id":"26d2d6a9.083ac2","type":"inject","z":"96414983.dd9608","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":500,"wires":[["e45ba94a.81a218"]]},{"id":"52dcedbe.6d659c","type":"debug","z":"96414983.dd9608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.COOLER","x":890,"y":760,"wires":[]},{"id":"5f7eabf4.14284c","type":"debug","z":"96414983.dd9608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.HEATER","x":880,"y":820,"wires":[]},{"id":"28bf8ea2.556aa2","type":"debug","z":"96414983.dd9608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.VENTILATION","x":880,"y":900,"wires":[]},{"id":"99178606.2d28d","type":"ui_text","z":"96414983.dd9608","group":"a9249f17.847e78","order":0,"width":0,"height":0,"name":"","label":"COOLER","format":"{{msg.payload.COOLER}}","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"3e317d7c.31e75a","type":"ui_text","z":"96414983.dd9608","group":"a9249f17.847e78","order":0,"width":0,"height":0,"name":"","label":"HEATER","format":"{{msg.payload.HEATER}}","layout":"row-spread","x":940,"y":560,"wires":[]},{"id":"20191177.da03d6","type":"ui_text","z":"96414983.dd9608","group":"a9249f17.847e78","order":0,"width":0,"height":0,"name":"","label":"VENTILATION","format":"{{msg.payload.VENTILATION}}","layout":"row-spread","x":960,"y":620,"wires":[]},{"id":"b99b6d6c.97d85","type":"mqtt in","z":"96414983.dd9608","name":"ThingspeakMQTT Sub","topic":"channels/783362/subscribe/fields/field3/DHWHM4YJP2N7CHLO","qos":"0","broker":"7f9ef844.8c2e8","x":280,"y":1120,"wires":[["e08209b0.b08ba"]]},{"id":"e08209b0.b08ba","type":"ui_chart","z":"96414983.dd9608","name":"Avg per Min Temperature","group":"a9249f17.847e78","order":0,"width":0,"height":0,"label":"Room 3 AvgTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":1120,"wires":[[],[]]},{"id":"32bb28eb.c3b17","type":"ui_button","z":"49b5365b.80aea","name":"","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"passthru":false,"label":"COOLER","color":"","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7405:5:505]:5683/actuators/thermostat?mode=c","payloadType":"str","topic":"","x":200,"y":160,"wires":[["e21ef9c2.b867c8"]]},{"id":"c87fb1ad.011118","type":"ui_button","z":"49b5365b.80aea","name":"","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"passthru":false,"label":"HEATER","color":"","bgcolor":"red","icon":"","payload":"coap://[aaaa::212:7405:5:505]:5683/actuators/thermostat?mode=h","payloadType":"str","topic":"","x":200,"y":240,"wires":[["e21ef9c2.b867c8"]]},{"id":"bc768e4f.08ad8","type":"ui_button","z":"49b5365b.80aea","name":"","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"passthru":false,"label":"VENTILATION","color":"","bgcolor":"green","icon":"","payload":"coap://[aaaa::212:7405:5:505]:5683/actuators/thermostat?mode=v","payloadType":"str","topic":"","x":180,"y":320,"wires":[["e21ef9c2.b867c8"]]},{"id":"22f0e6c.8844a9a","type":"ui_toast","z":"49b5365b.80aea","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":950,"y":240,"wires":[]},{"id":"49b08710.e93bc8","type":"coap request","z":"49b5365b.80aea","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"","x":690,"y":240,"wires":[["22f0e6c.8844a9a","ecaa8360.8d6158"]]},{"id":"e21ef9c2.b867c8","type":"change","z":"49b5365b.80aea","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[["49b08710.e93bc8"]]},{"id":"ecaa8360.8d6158","type":"debug","z":"49b5365b.80aea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":340,"wires":[]},{"id":"5883dbba.8501b4","type":"coap request","z":"49b5365b.80aea","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/actuators/status","content-format":"application/json","raw-buffer":false,"name":"","x":470,"y":540,"wires":[["d39056a6.468138","67948b92.73c50c","67c094bd.36437c","eef54fe1.dfbfb","a0ba5ee4.9f918","7a9edc58.9aa0fc"]]},{"id":"9e2d121.9ce37f","type":"inject","z":"49b5365b.80aea","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":540,"wires":[["5883dbba.8501b4"]]},{"id":"d39056a6.468138","type":"debug","z":"49b5365b.80aea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.COOLER","x":830,"y":800,"wires":[]},{"id":"67948b92.73c50c","type":"debug","z":"49b5365b.80aea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.HEATER","x":820,"y":860,"wires":[]},{"id":"67c094bd.36437c","type":"debug","z":"49b5365b.80aea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.VENTILATION","x":820,"y":940,"wires":[]},{"id":"eef54fe1.dfbfb","type":"ui_text","z":"49b5365b.80aea","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"name":"","label":"COOLER","format":"{{msg.payload.COOLER}}","layout":"row-spread","x":880,"y":540,"wires":[]},{"id":"a0ba5ee4.9f918","type":"ui_text","z":"49b5365b.80aea","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"name":"","label":"HEATER","format":"{{msg.payload.HEATER}}","layout":"row-spread","x":880,"y":600,"wires":[]},{"id":"7a9edc58.9aa0fc","type":"ui_text","z":"49b5365b.80aea","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"name":"","label":"VENTILATION","format":"{{msg.payload.VENTILATION}}","layout":"row-spread","x":900,"y":660,"wires":[]},{"id":"4856cadc.93db6c","type":"mqtt in","z":"49b5365b.80aea","name":"ThingspeakMQTT Sub","topic":"channels/783362/subscribe/fields/field4/DHWHM4YJP2N7CHLO","qos":"0","broker":"7f9ef844.8c2e8","x":200,"y":1140,"wires":[["d3d0fd3e.6f835"]]},{"id":"d3d0fd3e.6f835","type":"ui_chart","z":"49b5365b.80aea","name":"Avg per Min Temperature","group":"e1d6550a.2cd3c8","order":0,"width":0,"height":0,"label":"Room 4 AvgTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":1140,"wires":[[],[]]},{"id":"2ba50ef7.07804a","type":"function","z":"22e968dc.af1008","name":"tempControl","func":"var temp;\nconst MAX_TEMP=30;\nconst MIN_TEMP=10;\n\ntemp = msg.payload;\n\nif ((temp > MAX_TEMP)) {\n    msg.payload = \"Alert! It's very HOT in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else if ((temp < MIN_TEMP)){\n    msg.payload = \"Alert!  It's very COLD in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else {\n    msg.reset = 1;\n    return msg\n}","outputs":1,"noerr":0,"x":630,"y":1160,"wires":[["9e6c900d.518a9"]]},{"id":"a93b2673.317258","type":"e-mail","z":"22e968dc.af1008","server":"smtp.office365.com","port":"587 ","secure":false,"name":"mattia.bacarella@mail.polimi.it","dname":"","x":1830,"y":1420,"wires":[]},{"id":"9e6c900d.518a9","type":"trigger","z":"22e968dc.af1008","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":860,"y":1140,"wires":[["a93b2673.317258"]]},{"id":"d5479651.4657","type":"function","z":"22e968dc.af1008","name":"tempControl","func":"var temp;\nconst MAX_TEMP=30;\nconst MIN_TEMP=10;\n\ntemp = msg.payload;\n\nif ((temp > MAX_TEMP)) {\n    msg.payload = \"Alert! It's very HOT in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else if ((temp < MIN_TEMP)){\n    msg.payload = \"Alert!  It's very COLD in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else {\n    msg.reset = 1;\n    return msg\n}","outputs":1,"noerr":0,"x":670,"y":1700,"wires":[["5de78e73.02ba68"]]},{"id":"5de78e73.02ba68","type":"trigger","z":"22e968dc.af1008","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":900,"y":1680,"wires":[["a93b2673.317258"]]},{"id":"7d168b7c.554184","type":"function","z":"22e968dc.af1008","name":"tempControl","func":"var temp;\nconst MAX_TEMP=30;\nconst MIN_TEMP=10;\n\ntemp = msg.payload;\n\nif ((temp > MAX_TEMP)) {\n    msg.payload = \"Alert! It's very HOT in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else if ((temp < MIN_TEMP)){\n    msg.payload = \"Alert!  It's very COLD in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else {\n    msg.reset = 1;\n    return msg\n}","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["e945cc92.60a41"]]},{"id":"e945cc92.60a41","type":"trigger","z":"22e968dc.af1008","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":900,"y":580,"wires":[["a93b2673.317258"]]},{"id":"174d60fc.7e1ed7","type":"function","z":"22e968dc.af1008","name":"tempControl","func":"var temp;\nconst MAX_TEMP=30;\nconst MIN_TEMP=10;\n\ntemp = msg.payload;\n\nif ((temp > MAX_TEMP)) {\n    msg.payload = \"Alert! It's very HOT in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else if ((temp < MIN_TEMP)){\n    msg.payload = \"Alert!  It's very COLD in the room.\"\n    msg.topic = \"Temperature Report\"\n    return msg;\n} else {\n    msg.reset = 1;\n    return msg\n}","outputs":1,"noerr":0,"x":663.3333129882812,"y":90,"wires":[["463cb337.34c0d4"]]},{"id":"463cb337.34c0d4","type":"trigger","z":"22e968dc.af1008","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":893.3333129882812,"y":70,"wires":[["a93b2673.317258"]]},{"id":"455b9b8c.4a853c","type":"function","z":"22e968dc.af1008","name":"AvgHomeTemp","func":"var sum;\n\nsum = msg.payload.field1 + msg.payload.field2 + msg.payload.field3 + msg.payload.field4;\navg = sum/4;\nmsg.payload = avg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":840,"wires":[["3f063769.ae40b"]]},{"id":"3f063769.ae40b","type":"mqtt out","z":"22e968dc.af1008","name":"ThingspeakMQTT Pub","topic":"channels/828485/publish/fields/field1/CODTGFHXLA6PL5B7","qos":"","retain":"","broker":"7f9ef844.8c2e8","x":2070,"y":840,"wires":[]},{"id":"1ec49061.e93998","type":"mqtt in","z":"22e968dc.af1008","name":"ThingspeakMQTT Sub","topic":"channels/828485/subscribe/fields/field1/CODTGFHXLA6PL5B7","qos":"0","broker":"7f9ef844.8c2e8","x":200,"y":2160,"wires":[["f89d1e6.876af6","a576adee.ca25"]]},{"id":"f89d1e6.876af6","type":"ui_chart","z":"22e968dc.af1008","name":"","group":"fb3fa3ac.f8cc3","order":0,"width":"24","height":"3","label":"Home AvgTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":2300,"wires":[[],[]]},{"id":"a576adee.ca25","type":"ui_text","z":"22e968dc.af1008","group":"fb3fa3ac.f8cc3","order":0,"width":0,"height":0,"name":"","label":"Home Temperature","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":2160,"wires":[]}]