Node-Red-Dashboard.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"caf967ed.fb17e","type":"http in","z":"b5d1af96.0416f8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":160,"y":60,"wires":[["6c250484.4bc2c4"]]},{"id":"6c250484.4bc2c4","type":"template","z":"b5d1af96.0416f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Hello world!</h1>","output":"str","x":300,"y":60,"wires":[["9b495bf7.3ec278"]]},{"id":"9b495bf7.3ec278","type":"http response","z":"b5d1af96.0416f8","name":"","statusCode":"","headers":{},"x":460,"y":60,"wires":[]},{"id":"f7e6f5f6.c00ba","type":"ui_button","z":"b5d1af96.0416f8","name":"","group":"8476a582.2c3b6","order":1,"width":0,"height":0,"passthru":false,"label":"Increase","color":"","bgcolor":"","icon":"","payload":"Temperature Increase","payloadType":"str","topic":"","x":200,"y":300,"wires":[["d70d3376.fa23e","da3f19a.b679668"]]},{"id":"da3f19a.b679668","type":"ui_text","z":"b5d1af96.0416f8","group":"8476a582.2c3b6","order":4,"width":0,"height":0,"name":"","label":"Output","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":360,"wires":[]},{"id":"d70d3376.fa23e","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":200,"wires":[]},{"id":"19fb9c14.12559c","type":"ui_button","z":"b5d1af96.0416f8","name":"","group":"8476a582.2c3b6","order":2,"width":0,"height":0,"passthru":false,"label":"Decrease","color":"","bgcolor":"red","icon":"","payload":"Temperature Decreased","payloadType":"str","topic":"","x":200,"y":380,"wires":[["d70d3376.fa23e","da3f19a.b679668"]]},{"id":"736ce34f.44ec34","type":"ui_button","z":"b5d1af96.0416f8","name":"","group":"8476a582.2c3b6","order":3,"width":0,"height":0,"passthru":false,"label":"Ventilate","color":"","bgcolor":"grey","icon":"","payload":"Ventilation Started","payloadType":"str","topic":"","x":200,"y":440,"wires":[["d70d3376.fa23e","da3f19a.b679668"]]},{"id":"ab7bebb6.451078","type":"comment","z":"b5d1af96.0416f8","name":"Go to localhost:1880/ui","info":"","x":200,"y":260,"wires":[]},{"id":"bbe2a92f.c023a8","type":"comment","z":"b5d1af96.0416f8","name":"Go to localhost:1880/test","info":"","x":190,"y":20,"wires":[]},{"id":"8476a582.2c3b6","type":"ui_group","z":"","name":"IoT","tab":"c192c95c.2cd508","disp":true,"width":"6","collapse":false},{"id":"c192c95c.2cd508","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"}]
